/* SignIn.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  .siginmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Full viewport height */
    width: 75%;
    max-width: 400px; /* Maximum width for the form */
    margin: auto;
    padding: 2rem;
    background: #fff;
    border: 1px solid #ddd; /* Add border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    /* width: 50%;
    align-items: center;
    justify-content: center; */
  }
  
  .form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 128, 0, 0.411);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }
  
  p {
    text-align: center;
    margin-top: 1rem;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    text-align: center;
    margin-top: 1rem;
  }





  
  