.calculator{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.678);
    width: 330px;
    height: 550px;
}
#main{
    display: grid;
    grid-template-columns: 4fr 6fr;
    justify-content: space-between;
    /* justify-content: space-around; */
    gap: 5px;
    margin: 30px;
}
#resultBox{
    text-align: right;
    font-size: 40px;
    color: white;
    margin: 10px;
    margin-right: 50px;
}
.input{
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: right;
    color: white;
    background-color: #1c83777e;
    /* background-color: rgba(0, 0, 0, 0.459); */
}

.delete-button{
  background-color: rgba(255, 81, 0, 0.452); 
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin: 10xp;
  font-size: 20px;
  margin-bottom: 20px;
}
.delete-button:hover{
  cursor: pointer;
}
.btnnumber{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 10px;
    background:rgba(0, 0, 0, 0.658);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.eql{
    background-color: blue;
}


table{
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    font-size: 15px;
  }
table td{
  border: 1px solid #241d1d94;
  text-align: center;
  border: 1px solid rgb(34, 32, 32);
}
table th {
  border: 2px solid #3b393994;
  /* padding: 2px; */
  text-align: center;
  background-color: #1c83777e;
  /* background-color: #0c0e0c44; */
  color: white;
  font-weight: bold;
  }
  table th input{
    width: auto;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    }
  thead{
    color:white;
    background:#070f0e;
  }
  tbody{
    border-radius: 15px;
  }

th,td{
  text-align:center;
  padding:5px 0;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}

tbody tr:hover{
background:#BDC3C7;
  color:#FFFFFF;
}



.pagination{
  margin-top: 20px;
  align-content: center;
}

.pagination button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 16px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
}
.pagination button:hover {
  background-color: #bbff00;
  color: white;
  border-color: #007bff;
}

.pagination button.active {
  background-color: #007bff;
  font-weight: bold;
  padding: 15px;
  color: white;
  border-color: #007bff;
}

.pagination button:disabled {
  cursor: not-allowed;
  background-color: #e9ecef;
  border-color: #e9ecef;
}
